doctype
html
	head
		include ./includes/head
	body
		.mobile-container
			.header.pr
				img(src="/images/top2.png")
				btn.img_video.pa#img_video
				p.pa.scenicTitle
					span #{zone.title}
					span #{zone.pinyintitle}
				img(src="/images/xxQ.png").pa.scenicTXX
			.scenic.scenic_info
				p.pr
					span.detail_title 简介
					span.detail_info#detail_info #{zone.intro}
					span.detail_icon >
				p.pr
					span.detail_title 类型
					span.detail_info #{zone.type}
					span.detail_icon >
				p.pr
					span.detail_title 开放时间
					span.detail_info #{zone.opentime}
					span.detail_icon >
				p.pr
					span.detail_title 地址
					span.detail_info #{zone.address}
					span.detail_icon
						<img src="/images/position3.png">
				p.pr
					span.detail_title 电话
					span.detail_info #{zone.phone}
					span.detail_icon 
			.scenic-line
			.scenic.scenic_rote
				p.rote_title 游览路线
				p #{zone.route}
					a.rote_a(href="#")
			.scenic-line
			.scenic
				p.review_title
					img.review_imgW(src="/images/Write.png")
					| 游客点评
					font (
						a 1122
						| 条评论)
					a(href="/addAssessment/#{zone.id}") 评论
				each assessment in assessments
					.review
						div
							p.review_person
								img.review_imgP(src="/images/touxiang.png")
								span.review_personName 游客#{assessment.id}
							p.review_xx
								img.review_imgXX(src="/images/xxQ.png")
							p.review_time
								img.review_imgT(src="/images/colock.png")
								| #{assessment.createdAt}
						p.review_con #{assessment.content}

			.review_more
				a(href="#") 更多>>
		script(type="text/html", id="detail_info_show_con")
			#detail_info_show #{zone.intro}
		script(type="text/html", id="video")
			audio
				source(src="#{zone.voice}", type="audio/mpeg")
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/libs/layer/layer.js")
		script.
				$(function(){
					//详细信息展示
					$("#detail_info").click(function(){
						layer.open({
								type: 0, //page层
								area: ['80%','100%'],
								title: '详细介绍',
								closeBtn: false,
								btn: ['X'],
								shade: 0.65,//遮罩透明度
								move: false,
								scrollbar: false,
								shift: 0, //0-6的动画形式，-1不开启
								content: $("#detail_info_show_con").html(),
						});
					})

					//加入音频
					$("#img_video").click(function(){
						$("#img_video").html($('#video').html());
					})

				})