doctype
html
	head
		include ./inc/head
	body
		.page-wrapper-hide.container
			.row
				.col-lg-12
					h1.page-header 添加景点
			.row
				.col-lg-12
					form.form-horizontal(action="/admin/addZone", method="post", enctype="multipart/form-data")
						.form-group
							label.col-sm-2.control-label(for="") 景点名称
								span.text-danger *
							.col-sm-10
								input.form-control.w2(type="text", name="title", placeholder="标题", value="#{zone.title}", required)
						.form-group
							label.col-sm-2.control-label(for="") 景点名称拼音
								span.text-danger *
							.col-sm-10
								input.form-control.w2(type="text", name="pinyintitle", placeholder="拼音标题", value="#{zone.pinyintitle}", required)
						.form-group
							label.col-sm-2.control-label(for="") 预览图
								span.text-danger *
							.col-sm-10
								input.form-control.w2.pull-left(type="file", name="uploadLittleimg", value="#{zone.littleimg}")
								| （640*265）
						.form-group
							label.col-sm-2.control-label(for="") 详情大图
								span.text-danger *
							.col-sm-10
								input.form-control.w2(type="file", name="uploadImg", value="#{zone.img}")
								| （750*640）
						.form-group
							label.col-sm-2.control-label(for="") 语音
								span.text-danger *
							.col-sm-10
								input.form-control.w2(type="file", name="uploadVoice", value="#{zone.voice}")
								| （格式为.mp3）
						.form-group
							label.col-sm-2.control-label(for="") 简介
							.col-sm-10
								textarea.form-control.w3(rows="5", name="intro" placeholder="简介") #{zone.intro}
						.form-group
							label.col-sm-2.control-label(for="") 类型
							.col-sm-10
								input.form-control.w2(type="text", name="type" placeholder="类型", value="#{zone.type}")
						.form-group
							label.col-sm-2.control-label(for="") 开放时间
							.col-sm-10
								input.form-control.w2(type="text", name="opentime" placeholder="开放时间", value="#{zone.opentime}")
						.form-group
							label.col-sm-2.control-label(for="") 地址
							.col-sm-10
								input.form-control.w2(type="text", name="address" placeholder="地址", value="#{zone.address}")
						.form-group
							label.col-sm-2.control-label(for="") 电话
							.col-sm-10
								input.form-control.w2(type="text", name="phone" placeholder="电话", value="#{zone.phone}")
						.form-group
							label.col-sm-2.control-label(for="") 游览路线
							.col-sm-10
								textarea.form-control.w3(rows="5", name="route" placeholder="游览路线") #{zone.route}
						.form-group
							.col-sm-offset-2.col-sm-10
								input(type="hidden", name="id", value="#{zone.id}")
								input.btn.btn-primary(type="submit", value="保存")
	include ./inc/baseJs		