doctype
html
	head
		include ./includes/head
	body
		.mobile-container
			.header.pr
				img(src="#{zone.img}")
				audio(loop="loop" src="#{zone.voice}")#audio
				button(class="playFirst")#control
				p.pa.scenicTitle
					span #{zone.title}
					span #{zone.pinyintitle}
				img(src="/images/xxQ.png").pa.scenicTXX
			.scenic.scenic_info
				p.pr
					span.detail_title 简介
					span.detail_info#detail_info #{zone.intro}
					span.detail_icon &gt;
				p.pr
					span.detail_title 类型
					span.detail_info #{zone.type}
					span.detail_icon &gt;
				p.pr
					span.detail_title 开放时间
					span.detail_info #{zone.opentime}
					span.detail_icon &gt;
				p.pr
					span.detail_title 地址
					span.detail_info #{zone.address}
					span.detail_icon
						img(src="/images/position3.png")
				p.pr
					span.detail_title 电话
					span.detail_info #{zone.phone}
					span.detail_icon &gt;
			.scenic-line
			.scenic.scenic_rote
				p.rote_title 游览路线
				p #{zone.route}
					a.rote_a(href="#")
			.scenic-line
			.scenic
				p.review_title
					img.review_imgW(src="/images/Write.png")
					| 游客点评
					font (
						a #{assessments.length}
						| 条评论)
				each assessment in assessments
					.review
						div
							p.review_person
								img.review_imgP(src="/images/touxiang.png")
								span.review_personName 游客#{assessment.id}
							div.review_imgXX
								- var fiveStar = assessment.star * 20
								div.review_imgXX2(style="width: #{fiveStar}%") 
									img(src="/images/xxQ.png")
							p.review_time
								img.review_imgT(src="/images/colock.png")
								| #{moment(assessment.createdAt).format('YYYY年MM月DD日')}
						p.review_con #{assessment.content}

			.review_more#review_more
				p#review_more_con 说两句，评一下



		script#review_more_content(type='text/html')
			form(action="/addAssessment", method="post").review_form
				input(type="hidden", name="zoneid", value="#{zone.id}")
				input#hidden-star(type="hidden", name="star", value="5")
				textarea.input_con#review_input_con(type="text", placeholder="请输入评论内容...", name="content", required,
				onchange="sessionStorage.setItem('review_more_content_textarea', $(this).val());")
				p.review_p_con
					span.strat_PF 评分
					//- div.demo
					//- 	div#default-demo
					span.strat_HL
						span(index="1").star.starH#star0
						span(index="2").star.starH#star1
						span(index="3").star.starH#star2
						span(index="4").star.starH#star3
						span(index="5").star.starH#star4
					button.input_up#input_up 提交


		script(type="text/html", id="detail_info_show_con")
			#detail_info_show #{zone.intro}
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/js/layer/layer.js")
		script.
			$(function(){
				//详细信息展示
				$("#detail_info").click(function(){
					layer.open({
							type: 0, //page层
							area: ['80%','100%'],
							title: '详细介绍',
							closeBtn: false,
							btn: ['X'],
							shade: 0.65,//遮罩透明度
							move: false,
							scrollbar: false,
							shift: 0, //0-6的动画形式，-1不开启
							content: $("#detail_info_show_con").html(),
					});
				});
				//添加评论信息
				$("#review_more").click(function(){
					layer.open({
						type: 1,
						area: ['100%','150px'],//区域大小
						offset: 'rb',//位置
						title: false,//标题
						closeBtn: 0,
						shadeClose: true,
						move: false,
						scrollbar: false,
						//- fixed:true,
						skin: 'review_more_conSkin',
						content: $("#review_more_content").html(),
						success:function(layero,index){
							$('body').css('overflow','hidden');
							$("#review_more").hide();
							//$.fn.raty.defaults.path = '/js/raty/lib/img';
							//$('#default-demo').raty();
							if(sessionStorage.getItem('review_more_content_textarea')){
								$("#review_input_con").val("").focus().val(sessionStorage.getItem('review_more_content_textarea'));
							}else{
								$("#review_input_con").val("").focus();
							}
							//此方法不兼容iphon
							//- $(".strat_HL .star").on('click', function(){
							//- 	$("#layui-layer1 .star").removeClass("starL").addClass("starH");
							//- 	for(var i=0;i<=$(this).index();i++){
							//- 		$('.strat_HL').children('span').eq(i).removeClass("starH").addClass("starL")
							//- 		$('#hidden-star').val(i+1)
							//- 	}

							//- });
							$(".star").each(function(index){
								$(this).click(function(){
										$(".star").removeClass("starL").addClass("starH");
										for(var i=0;i<=$(this).index();i++){
											if($(this).index()==0&&$("#star0").hasClass("starL")){
												$("#star0").removeClass("starL").addClass("starH");
											}
											else{
												var star_id="star"+i;
												$("#"+star_id).removeClass("starH").addClass("starL")
											}
										$('#hidden-star').val(i+1);
									}
								})
							})
							//点击提交按钮清空输入框
							$("#input_up").click(function(){
								sessionStorage.removeItem('review_more_content_textarea')
							})

						},
						end : function(){
							$("#review_more").show();
							$('body').css('overflow','auto');
						}
					});
				});
				//音频播放函数
				getSong();
				//获取歌曲链接并插入dom中
				function getSong() { 
					var audio = document.getElementById("audio");
					audio.src = "#{zone.voice}";
					playCotrol(); //播放控制函数
				}
				//点击播放/暂停
				function clicks() {
					var audio = document.getElementById("audio");
					$("#control").click(function() {
						if ($("#control").hasClass("play")) {
							$("#control").addClass("pause").removeClass("play");
							audio.play();//开始播放
						} else {
							$("#control").addClass("play").removeClass("pause");
							audio.pause();
						}
					})
				}
				//播放事件监听
				function playCotrol() {
					//audio.addEventListener("loadeddata", //歌曲一经完整的加载完毕( 也可以写成上面提到的那些事件类型)
					//function() {
						$("#control").addClass("play").removeClass("playFirst");
						clicks();
					//}, false);

					audio.addEventListener("pause",
						function() { //监听暂停
							$("#control").addClass("play").removeClass("pause");
							if (audio.currentTime == audio.duration) {
								audio.stop();
								audio.currentTime = 0;
							}
						}, false);
					audio.addEventListener("play",
						function() { //监听暂停
							$("#control").addClass("pause").removeClass("play");
						}, false);
					audio.addEventListener("ended", function() {
						alert(0)
					}, false)
				}
			})