doctype
html
	head
		include ./includes/head
	body
		.mobile-container
			.header.pr
				img(src="#{indexImg}")
				//- btn.btn_gg.pa
			.ad_run
				marquee.ad_run_con(scrollamount="2", direction="Left")
					p #{indexContent}
			each zone in zones
				div.pr
					a(href="/detail/#{zone.id}")
						img(src="#{zone.littleimg}")
					div.pa.img_bottom
						font #{zone.title}
						div.img_bottom_con
							img(src="/images/comment.png")
							a(href="#") #{zone.assessmentInZone}
			.scenic-lineOne
				a(href="#") 查看更多


	script(src="/libs/jquery/dist/jquery.min.js")
	script(type="text/javascript").
		$(function(){
			//- $.ajax({
			//- 	url: '/getWeather',
			//- 	type: 'GET',
			//- 	success: function(data){
			//- 		console.log(data)
			//- 	},
			//- 	erro: function(err){
			//- 		console.log(err)
			//- 	}
			//- })
		})